<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Webプログラミング課題</title>
    <link rel="stylesheet" href="/public/style.css">
    
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
    <h1>メインメニュー</h1>
    <p>利用したいシステムを選択してください。</p>
    
    <ul class="menu-list">
        <li>
            <a href="/tasks" class="system-link">授業課題管理システム</a>
            <br>課題の期限や予想時間を管理します。
        </li>
        <br>
        
        <li>
            <a href="/references" class="system-link">参考文献管理システム</a>
            <br>論文や書籍の情報を記録します。
        </li>
        <br>
        
        <li>
            <a href="/household" class="system-link">家計簿システム</a>
            <br>日々の支出を記録します。
        </li>
    </ul>
    
    <hr>
    <p>作成者: ryotaozoe</p>
</body>
</html>