<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>文献の追加</title>
    <link rel="stylesheet" href="/public/style.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
    <nav>
        <ol class="breadcrumb">
            <li><a href="/">ホーム</a></li>
            <li><a href="/references">参考文献管理システム</a></li>
            <li>新規追加</li>
        </ol>
    </nav>

    <h1>文献の追加</h1>

    <form action="/references/create" method="post">
        
        <label>著者名</label>
        <input type="text" name="author" required>

        <label>書籍名</label>
        <input type="text" name="title">

        <label>発行年</label>
        <input type="number" name="year">

        <label>重要度</label>
        <input type="number" name="importance">

        <button type="submit" class="btn-square-slant" style="border:none; cursor:pointer;">追加する</button>
    </form>

    <br>
    <a href="/references" class="btn-sm btn-secondary">一覧に戻る</a>
</body>
</html>