<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>課題の追加</title>
    <link rel="stylesheet" href="/public/style.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
    <nav>
        <ol class="breadcrumb">
            <li><a href="/">ホーム</a></li>
            <li><a href="/tasks">授業課題管理システム</a></li>
            <li>新規追加</li>
        </ol>
    </nav>

    <h1>課題の追加</h1>

    <form action="/tasks/create" method="post">
        
        <label>科目名</label>
        <input type="text" name="subject" required>

        <label>内容</label>
        <input type="text" name="title">

        <label>期限 (例: 20251212)</label>
        <input type="number" name="deadline">

        <label>予想時間 (分)</label>
        <input type="number" name="time">

        <button type="submit" class="btn-square-slant" style="border:none; cursor:pointer;">追加する</button>
    </form>

    <br>
    <a href="/tasks" class="btn-sm btn-secondary">一覧に戻る</a>
</body>
</html>